@model PickUp.Web.ViewModels.Trips.TripDetailsViewModel
@{
    ViewBag.Title = "ById";
}

<div class="row">
    <div class="col-md-1">
        <div class="well text-center">
            <div class="row">0</div>
            <div class="row">Answers</div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <h4>
                @Model.Driver
            </h4>
        </div>
        <div class="row">
            <p>asked 35 minutes ago in Kids Academy - програмиране за деца by a.dimitrov04 (40 points)</p>
        </div>
    </div>
</div>
