@model IEnumerable<PickUp.Web.ViewModels.Users.PassengerViewModel>

<h1>Top 10 passengers</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var passenger in @Model)
        {
            <tr>
                <td>@passenger.UserName</td>
                <td>@passenger.Rating</td>
            </tr>
        }
    </tbody>
</table>
