@model IEnumerable<PickUp.Web.ViewModels.Users.PassengerViewModel>
@{ 
    var index = 0;
}
<div class="panel panel-default">
    <div class="panel-heading text-center"><h4>Top 10 passengers</h4></div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var passenger in @Model)
                {
                    var className = "";

                    if (index % 2 != 0)
                    {
                        className = "success";
                    }
                    index += 1;
                    <tr class="@className">
                        <td>@passenger.UserName</td>
                        <td>@passenger.Rating</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

